.content{
    font-family: 'Cairo', sans-serif;
    padding: 50px 100px;
    width: 40%;
}
@media (max-width: 920px) {
    h1,h2,h3,h4
    ,p{font-size:15px !important}

}
h1{
    font-size: 40px;
}
p{
        font-size: 20px;
        
}
span{
    margin: 10px;
}
h1,p{
    font-family: 'Cairo', sans-serif;
}