body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f19c;
   font-family: 'Cairo', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer a{
  margin-left: 10px;
}
